<launch>
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <arg name="robot_name" default="realsense"/>
    <arg name="robot_id" default="0"/>

    <arg name="dataset_name" default="realsense"/>
    <arg name="use_gravity_aligned" default="false"/>

    <arg name="map_frame" default="world" unless="$(arg use_gravity_aligned)"/>
    <arg name="odom_frame" default="world" unless="$(arg use_gravity_aligned)"/>
    <arg name="map_frame" default="map" if="$(arg use_gravity_aligned)"/>
    <arg name="odom_frame" default="map" if="$(arg use_gravity_aligned)"/>
    <arg name="robot_frame" default="dominic/forward_link"/>
    <arg name="sensor_frame" default="dominic/forward_link"/>

    <arg name="rgb_topic" default="/dominic/forward/color/image_raw"/>
    <arg name="depth_topic" default="/dominic/forward/depth/image_rect_raw"/>
    <arg name="object_topic" default="/dominic/forward/object_image"/>

    <arg name="run_object_detector" default="false"/>
    <arg name="object_detector_config" default="$(find llm)/experiments/configs/cluster/rs_large_clip_averaging.yaml"/>
    <arg name="object_detector_type" default="2"/>
    <include file="$(find llm)/launch/object_detect.launch" if="$(arg run_object_detector)">
        <arg name="rgb_topic" value="$(arg rgb_topic)"/>
        <arg name="output_topic" value="$(arg object_topic)"/>
        <arg name="config_path" value="$(arg object_detector_config)"/>
        <arg name="cluster_type" value="$(arg object_detector_type)"/>
    </include>

    <include file="$(find hydra_llm_ros)/launch/hydra_llm.launch" pass_all_args="true">
        <arg name="dataset_name" value="$(arg dataset_name)"/>
        <arg name="rviz_file" value="realsense.rviz"/>
        <arg name="closed_set" value="false"/>
        <arg name="temporal_window_size_s" value="9"/>
        <arg name="viz_config_file" default="visualizer_config.yaml"/>
    </include>

    <!-- this is the inverse of the negative z -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="gravity_aligned"
          args="0 0 0 -0.17417 -0.77360 0.601111 0.09927298 map world"/>

</launch>
