<launch>
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>

    <arg name="use_gt_frame" default="true" doc="use simulator-provided tf frame"/>
    <arg name="robot_frame" default="base_link_kimera" unless="$(arg use_gt_frame)" doc="robot body tf frame"/>
    <arg name="robot_frame" default="base_link_gt" if="$(arg use_gt_frame)" doc="robot body tf frame"/>
    <arg name="odom_frame" default="world" if="$(arg use_gt_frame)" doc="odometry (map) frame"/>
    <arg name="sensor_frame" default="left_cam" if="$(arg use_gt_frame)" doc="camera frame"/>
    <arg name="sensor_frame" default="left_cam_kimera" unless="$(arg use_gt_frame)" doc="camera frame"/>
    <arg name="use_static_tfs" default="true" doc="publish static tfs from file"/>

    <arg name="rgb_topic" default="/tesse/left_cam/rgb/image_raw"/>
    <arg name="rgb_info_topic" default="/tesse/left_cam/camera_info"/>
    <arg name="depth_topic" default="/tesse/depth_cam/mono/image_raw"/>
    <arg name="label_topic" default="/tesse/labels/image_raw"/>

    <!-- semantics -->
    <arg name="labelspace_name" default="uhumans2_office" doc="semantic label space"/>
    <arg name="semantic_map_dir" default="$(find hydra_ros)/config/color"/>
    <arg name="semantic_map_file" default="$(arg labelspace_name).csv"/>
    <arg name="semantic_map_path" default="$(arg semantic_map_dir)/$(arg semantic_map_file)"/>
    <arg name="color_mesh_by_label" default="false" doc="display mesh colored by semantic label"/>

    <arg name="visual_lcd_config_path" default="$(find hydra)/config/default/visual_lcd_config.yaml"/>
    <arg name="graph_lcd_config_path" default="$(find hydra)/config/uhumans2/lcd_config.yaml"/>
    <arg name="object_label_file" default="$(find khronos_ros)/config/semantic_labels/uHumans2_office.csv"/>

    <node name="semantic_converter" pkg="khronos_utils" type="semantic_converter_node">
        <param name="semantics_file" value="$(arg semantic_map_path)"/>
        <param name="publish_unknown_labels" value="false"/>
        <remap from="~semantic_image_in" to="/tesse/seg_cam/rgb/image_raw"/>
        <remap from="~semantic_image_out" to="/tesse/labels/image_raw"/>
    </node>

    <include file="$(find hydra_ros)/launch/static_tfs/uhumans2_static_tfs.xml" if="$(arg use_static_tfs)"/>

    <include file="$(find hydra_llm_ros)/launch/hydra_llm.launch" pass_all_args="true">
        <arg name="dataset_name" default="uhumans2"/>
        <arg name="rviz_file" default="uhumans2.rviz"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="fake_world_tf" args="0 0 0 0 0 0 1 map world" if="$(arg use_gt_frame)"/>

</launch>
