<launch>

    <!-- rosbag controls -->
    <arg name="sim_time_required" default="true"/>
    <param name="use_sim_time" value="$(arg sim_time_required)"/>
    <!-- general configuration -->
    <arg name="dataset_name" default="realsense" doc="Dataset name (used for parsing config)"/>
    <arg name="ablation_name" default="realsense_fine" doc="Ablation name (used for parsing config)"/>
    <arg name="segmenter_config" default="$(find clio_ros)/config/segmentation/large_clip.yaml" doc="openset segmentation config to use"/>
    <!-- tf frames -->
    <arg name="map_frame" default="world"/>
    <arg name="odom_frame" default="world"/>
    <arg name="robot_frame" default="dominic/forward_link"/>
    <arg name="sensor_frame" default="dominic/forward_link"/>

    <arg name="run_segmentation" default="false"/>
    <group if="$(arg run_segmentation)">
        <include file="$(find semantic_inference_ros)/launch/openset_segmentation.launch">
            <arg name="config_path" value="$(arg segmenter_config)"/>
        </include>
    </group>

    <group unless="$(arg run_segmentation)">
        <node pkg="semantic_inference_ros" type="language_embedding_node" name="semantic_inference">
            <rosparam file="$(arg segmenter_config)"/> <!-- sets model name -->
        </node>
    </group>

    <arg name="run_clio" default="true"/>
    <group if="$(arg run_clio)">
        <!-- TODO(nathan) change topic -->
        <remap from="/clio_node/input/camera/rgb/image_raw" to="/dominic/forward/color/image_raw"/>
        <remap from="/clio_node/input/camera/depth_registered/image_rect" to="/dominic/forward/depth/image_rect_raw"/>
        <remap from="/clio_node/input/camera/semantic/image_raw" to="/dominic/forward/object_image"/>
        <remap from="/clio_node/input/camera/feature" to="/dominic/forward/clip_vector"/>
        <include file="$(find clio_ros)/launch/clio.launch" pass_all_args="true">
            <arg name="sensor_min_range" default="0.3" doc="minimum sensor range in meters"/>
            <arg name="sensor_max_range" default="4.0" doc="maximum sensor range in meters"/>
        </include>
    </group>

</launch>
